In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [206]:
df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')
print(f'Zadefinovány nové datasety: \n 1. train tvar: {df_train.shape} \n 2. test tvar: {df_test.shape}')

Zadefinovány nové datasety:
 1. train tvar: (1460, 81)
 2. test tvar: (1459, 80)

In [207]:
df_join = pd.concat([df_train,df_test])
print(f' Spojený dataset tvar: {df_join.shape}')

 Spojený dataset tvar: (2919, 81)

In [239]:
dummy = ['LotShape', 'LandContour']
ordinal = ['KitchenQual','GarageQual', 'GarageCond','ExterQual','ExterCond','HeatingQC','Utilities','LandSlope']
drops = ['MSSubClass','MSZoning']
fill_na_mean = []
fil_na_zero = []
drop_na = []

# comments sk

'''

TODO Preprocessing

- dummies - get dummies
- ordinal - nahradit kategorické hodnoty číselnou řadou
- drop - vyhodit uplně (zatím)
- booleans - nahradit boolean hodnotou 0 nebo 1

- fillna
- POZOR na SalePrice, abychom si v testu nevyplnili nejakou hodnotou !
            np.where(df_join['SalePrice'].isnull() == True)
- fillna - mean - u některých na vyplnit mean (co fill na u ordinální hodnoty vlastně? - skoro otazka na lektora a nebo vyzkoušet model kde vyplníme mean a model kde vyplníme 0 a pak to porovnat?)
- fill na zero - u některých hodnot vyplnit 0 (LotFrontage)

- zbavit se outliers - smyčka na celý dataset kromě SalePrice - nahradit mean nebo modus, abych nepřišel o hodnoty v jiných sloupcích

'''

"\n\nTODO Preprocessing\n\n- dummies - get dummies\n- ordinal - nahradit kategorické hodnoty číselnou řadou\n- drop - vyhodit uplně (zatím)\n- booleans - nahradit boolean hodnotou 0 nebo 1\n\n- fillna\n- POZOR na SalePrice, abychom si v testu nevyplnili nejakou hodnotou !\n            np.where(df_join['SalePrice'].isnull() == True)\n- fillna - mean - u některých na vyplnit mean (co fill na u ordinální hodnoty vlastně? - skoro otazka na lektora a nebo vyzkoušet model kde vyplníme mean a model kde vyplníme 0 a pak to porovnat?)\n- fill na zero - u některých hodnot vyplnit 0 (LotFrontage)\n\n- zbavit se outliers - smyčka na celý dataset kromě SalePrice - nahradit mean nebo modus, abych nepřišel o hodnoty v jiných sloupcích\n\n"

In [251]:
if len(ordinal) == 8:
    print('ordinal počet sedí')
else:
    print('neni správný počet sloupců v seznamu ordinal')

if len(dummy) == 16:
    print('ordinal počet sedí')
else:
    print('neni správný počet sloupců v seznamu dummy')

if len(drops) == 25:
    print('ordinal počet sedí')
else:
    print('neni správný počet sloupců v seznamu drops')

ordinal počet sedí
neni správný počet sloupců v seznamu dummy
neni správný počet sloupců v seznamu drops

In [230]:
# 1) for smyčka na dummies

df_join_dummies = df_join.copy() # pro noob přehlednost - ale smyčky musí být spuštěny najednou - aby šly za sebou ve správném pořadí

for i in dummy:
    print(i)
    Dummies = pd.get_dummies(df_join_dummies[f'{i}'], prefix = f'{i}', dummy_na=True)
    df_join_dummies = df_join_dummies.drop(f'{i}', axis = 1)
    df_join_dummies = df_join_dummies.join(Dummies)



# 2) for smyčka pro dropnutí sloupců, co nechceme

df_join_drops = df_join_dummies.copy() # pro noob přehlednost - ale smyčky musí být spuštěny najednou - aby šly za sebou ve správném pořadí


for i in drops:
    print(i)
    df_join_drops = df_join_drops.drop(f'{i}', axis = 1)



# 3) nahrazení ordinal hodnot číselnou řadou 

df_join_ordinals = df_join_drops.copy() # pro noob přehlednost - ale smyčky musí být spuštěny najednou - aby šly za sebou ve správném pořadí

LotShape
LandContour
MSSubClass
MSZoning

In [240]:
for i in ordinal:
    print(i)

df_join_ordinals[f'KitchenQual'] = df_join_ordinals[f'KitchenQual'].replace(['Ex', 'Gd', 'TA','Fa','Po'], [4,3,2,1,0]) # jsou-li standardni - mohla by se udelat smycka
df_join_ordinals[f'GarageQual'] = df_join_ordinals[f'GarageQual'].replace(['Ex', 'Gd', 'TA','Fa','Po'], [4,3,2,1,0])
df_join_ordinals[f'GarageCond'] = df_join_ordinals[f'GarageCond'].replace(['Ex', 'Gd', 'TA','Fa','Po'], [4,3,2,1,0])
df_join_ordinals[f'ExterQual'] = df_join_ordinals[f'ExterQual'].replace(['Ex', 'Gd', 'TA','Fa','Po'], [4,3,2,1,0])
df_join_ordinals[f'ExterCond'] = df_join_ordinals[f'ExterCond'].replace(['Ex', 'Gd', 'TA','Fa','Po'], [5,4,3,2,0])
df_join_ordinals[f'HeatingQC'] = df_join_ordinals[f'HeatingQC'].replace(['Ex', 'Gd', 'TA','Fa','Po'], [5,4,3,2,0])


df_join_ordinals[f'Utilities'] = df_join_ordinals[f'Utilities'].replace(['AllPub', 'NoSewr', 'NoSeWa','ELO'], [4,3,2,0])
df_join_ordinals[f'LandSlope'] = df_join_ordinals[f'LandSlope'].replace(['Gtl', 'Mod', 'Sev'], [3,2,1])

KitchenQual
GarageQual
GarageCond
ExterQual
ExterCond
HeatingQC
Utilities
LandSlope

In [241]:
df_join_ordinals

,Id,LotFrontage,LotArea,Street,Alley,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,LotShape_IR1,LotShape_IR2,LotShape_IR3,LotShape_Reg,LotShape_nan,LandContour_Bnk,LandContour_HLS,LandContour_Low,LandContour_Lvl,LandContour_nan
0,1,65.0,8450,Pave,NaN,4.0,Inside,3,CollgCr,Norm,...,0,0,0,1,0,0,0,0,1,0
0,1,65.0,8450,Pave,NaN,4.0,Inside,3,CollgCr,Norm,...,0,0,0,1,0,0,0,0,1,0
0,1,65.0,8450,Pave,NaN,4.0,Inside,3,CollgCr,Norm,...,0,0,0,1,0,0,0,0,1,0
0,1,65.0,8450,Pave,NaN,4.0,Inside,3,CollgCr,Norm,...,0,0,0,1,0,0,0,0,1,0
0,1,65.0,8450,Pave,NaN,4.0,Inside,3,CollgCr,Norm,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,2919,74.0,9627,Pave,NaN,4.0,Inside,2,Mitchel,Norm,...,0,0,0,1,0,0,0,0,1,0
1458,2919,74.0,9627,Pave,NaN,4.0,Inside,2,Mitchel,Norm,...,0,0,0,1,0,0,0,0,1,0
1458,2919,74.0,9627,Pave,NaN,4.0,Inside,2,Mitchel,Norm,...,0,0,0,1,0,0,0,0,1,0
1458,2919,74.0,9627,Pave,NaN,4.0,Inside,2,Mitchel,Norm,...,0,0,0,1,0,0,0,0,1,0
1459,1460,75.0,9937,Pave,NaN,4.0,Inside,3,Edwards,Norm,...,0,0,0,1,0,0,0,0,1,0

In [231]:
df_join_ordinals.KitchenQual.unique()

array(['Gd', 'TA', 'Ex', 'Fa', nan], dtype=object)

KeyError: 'MSZoning'

In [170]:
df_join_loop.shape

(23345, 89)

In [172]:
df_join_loop.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl',
       'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual',
       'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical',
       '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath',
       'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr',
       'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces',
       'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish',
       'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PavedDrive',
       'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice',
       'LotShape_IR1', 'LotShape_IR2', 'LotShape_IR3', 'LotShape_Reg',
       'LotShape_nan', 'LandContour_Bnk', 'LandContour_HLS', 'LandContour_Low',
       'LandContour_Lvl', 'LandContour_nan'],
      dtype='object')

In [160]:
df_join_loop.drop('LotShape', axis=1)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LandContour,Utilities,LotConfig,...,LotShape_IR1,LotShape_IR2,LotShape_IR3,LotShape_Reg,LotShape_nan,LandContour_Bnk,LandContour_HLS,LandContour_Low,LandContour_Lvl,LandContour_nan
0,1,60,RL,65.0,8450,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
0,1,60,RL,65.0,8450,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
0,1,60,RL,65.0,8450,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
0,1,60,RL,65.0,8450,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
0,1,60,RL,65.0,8450,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,2919,60,RL,74.0,9627,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
1458,2919,60,RL,74.0,9627,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
1458,2919,60,RL,74.0,9627,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
1458,2919,60,RL,74.0,9627,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
1459,1460,20,RL,75.0,9937,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0

In [161]:
df_join_loop.shape

(23345, 91)

In [150]:
df_join_loop.shape

(23345, 91)

In [101]:
df_join['LotShape']

0       Reg
1       Reg
2       IR1
3       IR1
4       IR1
       ...
1454    Reg
1455    Reg
1456    Reg
1457    Reg
1458    Reg
Name: LotShape, Length: 2919, dtype: object

In [102]:
df_join

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [97]:
pd.get_dummies(df_join['GarageType'], dummy_na=True)

      2Types  Attchd  Basment  BuiltIn  CarPort  Detchd  NaN
0          0       1        0        0        0       0    0
1          0       1        0        0        0       0    0
2          0       1        0        0        0       0    0
3          0       0        0        0        0       1    0
4          0       1        0        0        0       0    0
...      ...     ...      ...      ...      ...     ...  ...
1454       0       0        0        0        0       0    1
1455       0       0        0        0        1       0    0
1456       0       0        0        0        0       1    0
1457       0       0        0        0        0       0    1
1458       0       1        0        0        0       0    0

[2919 rows x 7 columns]

In [87]:
df_join['GarageType']

0        Attchd
1        Attchd
2        Attchd
3        Detchd
4        Attchd
         ...
1454        NaN
1455    CarPort
1456     Detchd
1457        NaN
1458     Attchd
Name: GarageType, Length: 2919, dtype: object

In [96]:
df_join

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [68]:
df_join.isnull().sum().sort_values(ascending = False)[0:36]

PoolQC          2909
MiscFeature     2814
Alley           2721
Fence           2348
SalePrice       1459
FireplaceQu     1420
LotFrontage      486
GarageFinish     159
GarageQual       159
GarageCond       159
GarageYrBlt      159
GarageType       157
BsmtExposure      82
BsmtCond          82
BsmtQual          81
BsmtFinType2      80
BsmtFinType1      79
MasVnrType        24
MasVnrArea        23
MSZoning           4
Functional         2
BsmtHalfBath       2
BsmtFullBath       2
Utilities          2
BsmtFinSF1         1
BsmtFinSF2         1
SaleType           1
Electrical         1
GarageCars         1
TotalBsmtSF        1
GarageArea         1
Exterior2nd        1
Exterior1st        1
KitchenQual        1
BsmtUnfSF          1
Fireplaces         0
dtype: int64