In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [162]:
df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

In [163]:
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [179]:
df_train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [178]:
df_train.shape

(1460, 81)

In [180]:
df_join = pd.concat([df_train,df_test])

In [138]:
df_join.shape

(2919, 81)

In [104]:
# GarageTypeDummies = pd.get_dummies(df_join['GarageType'], dummy_na=True)

In [106]:
# df_join.join(GarageTypeDummies)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,SaleType,SaleCondition,SalePrice,2Types,Attchd,Basment,BuiltIn,CarPort,Detchd,NaN
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,WD,Normal,208500.0,0,1,0,0,0,0,0
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,WD,Normal,208500.0,0,1,0,0,0,0,0
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,WD,Normal,NaN,0,1,0,0,0,0,0
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,WD,Normal,NaN,0,1,0,0,0,0,0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,WD,Normal,181500.0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,WD,Normal,142125.0,0,1,0,0,0,0,0
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,WD,Normal,142125.0,0,1,0,0,0,0,0
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,WD,Normal,NaN,0,1,0,0,0,0,0
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,WD,Normal,NaN,0,1,0,0,0,0,0
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,WD,Normal,147500.0,0,1,0,0,0,0,0

In [121]:
# df_join['GarageType'].unique()

array(['Attchd', 'Detchd', 'BuiltIn', 'CarPort', nan, 'Basment', '2Types'],
      dtype=object)

In [167]:
dummy = ['LotShape', 'LandContour']
ordinal = ['KitchenQual','GarageQual']
drops = ['MSSubClass','MSZoning']
fill_na_mean = []
fil_na_zero = []
drop_na = []

'''
TODO Preprocessing
- dummies - get dummies
- ordinal - nahradit kategorické hodnoty číselnou řadou
- drop - vyhodit uplně (zatím)
- booleans - nahradit boolean hodnotou 0 nebo 1
- fillna - mean - u některých na vyplnit mean
- fill na zero - u některých hodnot vyplnit 0 (LotFrontage)

- zbavit se outliers - smyčka na celý dataset kromě SalePrice - nahradit mean nebo modus, abych nepřišel o hodnoty v jiných sloupcích
'''

In [181]:
# 1) for smyčka na dummies

df_join_dummies = df_join.copy() # pro noob přehlednost - ale smyčky musí být spuštěny najednou - aby šly za sebou

for i in dummy:
    print(i)
    Dummies = pd.get_dummies(df_join_dummies[f'{i}'], prefix = f'{i}', dummy_na=True)
    df_join_dummies= df_join_dummies.drop(f'{i}', axis = 1)
    df_join_dummies = df_join_dummies.join(Dummies)

df_join_drops = df_join_dummies.copy() # pro noob přehlednost - ale smyčky musí být spuštěny najednou - aby šly za sebou

# 2) for smyčka pro dropnutí sloupců, co nechceme

for i in drops:
    print(i)
    df_join_drops = df_join_drops.drop(f'{i}', axis = 1)

df_join_ordinals = df_join_drops.copy() # pro noob přehlednost - ale smyčky musí být spuštěny najednou - aby šly za sebou

for i in ordinal:
    print(i)
    '''
    TODO nahradit ordinální hodnoty číselnou reprezentací kategorie
    je to for smyčka nebo jen sekvence kodu? je potřeba udělat ručně 
    nahrazení hodnot? nebo umíme přes funkci, co ukazoval standa?
    '''

LotShape
LandContour

In [176]:
# manualni funkce na ordinal nebo smyčka podle standy


df_join['SaleCondition'] = np.where(df_join.SaleCondition == "Partial",1)

In [177]:
df_join['SaleCondition']

0       0
1       0
2       0
3       0
4       0
       ..
1454    0
1455    0
1456    0
1457    0
1458    0
Name: SaleCondition, Length: 2919, dtype: int64

In [170]:
df_join_loop.shape

(23345, 89)

In [172]:
df_join_loop.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl',
       'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual',
       'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical',
       '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath',
       'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr',
       'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces',
       'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish',
       'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PavedDrive',
       'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice',
       'LotShape_IR1', 'LotShape_IR2', 'LotShape_IR3', 'LotShape_Reg',
       'LotShape_nan', 'LandContour_Bnk', 'LandContour_HLS', 'LandContour_Low',
       'LandContour_Lvl', 'LandContour_nan'],
      dtype='object')

In [160]:
df_join_loop.drop('LotShape', axis=1)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LandContour,Utilities,LotConfig,...,LotShape_IR1,LotShape_IR2,LotShape_IR3,LotShape_Reg,LotShape_nan,LandContour_Bnk,LandContour_HLS,LandContour_Low,LandContour_Lvl,LandContour_nan
0,1,60,RL,65.0,8450,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
0,1,60,RL,65.0,8450,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
0,1,60,RL,65.0,8450,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
0,1,60,RL,65.0,8450,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
0,1,60,RL,65.0,8450,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,2919,60,RL,74.0,9627,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
1458,2919,60,RL,74.0,9627,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
1458,2919,60,RL,74.0,9627,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
1458,2919,60,RL,74.0,9627,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0
1459,1460,20,RL,75.0,9937,Pave,NaN,Lvl,AllPub,Inside,...,0,0,0,1,0,0,0,0,1,0

In [161]:
df_join_loop.shape

(23345, 91)

In [150]:
df_join_loop.shape

(23345, 91)

In [101]:
df_join['LotShape']

0       Reg
1       Reg
2       IR1
3       IR1
4       IR1
       ...
1454    Reg
1455    Reg
1456    Reg
1457    Reg
1458    Reg
Name: LotShape, Length: 2919, dtype: object

In [102]:
df_join

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [97]:
pd.get_dummies(df_join['GarageType'], dummy_na=True)

      2Types  Attchd  Basment  BuiltIn  CarPort  Detchd  NaN
0          0       1        0        0        0       0    0
1          0       1        0        0        0       0    0
2          0       1        0        0        0       0    0
3          0       0        0        0        0       1    0
4          0       1        0        0        0       0    0
...      ...     ...      ...      ...      ...     ...  ...
1454       0       0        0        0        0       0    1
1455       0       0        0        0        1       0    0
1456       0       0        0        0        0       1    0
1457       0       0        0        0        0       0    1
1458       0       1        0        0        0       0    0

[2919 rows x 7 columns]

In [87]:
df_join['GarageType']

0        Attchd
1        Attchd
2        Attchd
3        Detchd
4        Attchd
         ...
1454        NaN
1455    CarPort
1456     Detchd
1457        NaN
1458     Attchd
Name: GarageType, Length: 2919, dtype: object

In [96]:
df_join

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [68]:
df_join.isnull().sum().sort_values(ascending = False)[0:36]

PoolQC          2909
MiscFeature     2814
Alley           2721
Fence           2348
SalePrice       1459
FireplaceQu     1420
LotFrontage      486
GarageFinish     159
GarageQual       159
GarageCond       159
GarageYrBlt      159
GarageType       157
BsmtExposure      82
BsmtCond          82
BsmtQual          81
BsmtFinType2      80
BsmtFinType1      79
MasVnrType        24
MasVnrArea        23
MSZoning           4
Functional         2
BsmtHalfBath       2
BsmtFullBath       2
Utilities          2
BsmtFinSF1         1
BsmtFinSF2         1
SaleType           1
Electrical         1
GarageCars         1
TotalBsmtSF        1
GarageArea         1
Exterior2nd        1
Exterior1st        1
KitchenQual        1
BsmtUnfSF          1
Fireplaces         0
dtype: int64